h1,h2,h3,h4,h5,h6,ul,li{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
body{
	margin:0;
	padding:0;
	font-size:0.2rem;
	background: #fff;
	// height:7.36rem;

}
body,html{
	font-family: 'iconfont';
	overflow: hidden;
}
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1465540944'); /* IE9*/
  src: url('../font/iconfont.eot?t=1465540944#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1465540944') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1465540944') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1465540944#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-feedback:before { content: "\e61b"; }
.icon-iconfontwohover:before { content: "\e60d"; }
.icon-bofang:before { content: "\e659"; }
.icon-shu:before { content: "\e640"; }
.icon-xinwen:before { content: "\e664"; }
.icon-wo:before { content: "\e60f"; }
.icon-jiantouyou:before { content: "\e662"; }
@mixin userem($size){
	$shebei-list :320px ,375px, 414px,460px,412px,360px,384px,640px;
	 html{
	 	@each $shebei in $shebei-list{
	 		@media screen and(min-width:$shebei){
	 			 font-size:100px * ($shebei/$size);
	 		}
	 	}
	 }
 }
@include userem(640px)


// title开始
#hs{
	width:.9rem;
	height:.9rem;
	position: fixed;
	background:#f2f2f2;
  left:0;
	top:0;
	display: inline-block;
	img{
		width:.3rem;
	 margin-top: .3rem;
	 margin-left:.3rem;

	}
}
.nav-title{
	margin-left:.8rem;
	display: inline-block;
	background: #F2F2F2;
	height:.9rem;

	span{
		text-align: center;
		line-height: .9rem;
		font-weight: 800;
	}
}
.swiper-slide{
	text-align: center;
	font-size: 16px;
}
.swiper-slide:hover{
	 color:red;
	 border-bottom:2px solid red;

}
.title-add{
	float: right;
	width:.9rem;
	height:.9rem;
	position: absolute;
	background: #f2f2f2;
  right:0;
	top:0;
	display: inline-block;
	z-index: 2;
	img{
	width:.3rem;
	height:.3rem;
	position: absolute;
	float: right;
	right:0;
	margin:.3rem auto;
	margin-right:.3rem;
	}
}
.ban{
	position: relative;

	top:-.09rem;
	img{
		width:100%;
		height:4.4rem;
	}
	p{
		position: absolute;
		bottom:.1rem;
		color:#fff;
		float: left;
		font-size:16px;
		margin-left:.3rem;
	}
}
.main{
	position:relative;
	margin-top:-.5rem;
	overflow: auto;
	height:6.8rem;
	li{
		width:100%;
		height:1.7rem;
		border-bottom:1px solid #EEEEEE;
		position: relative;

		img{
			float: left;
			width:1.16rem;
			height:1.2rem;
			margin-left:.3rem;
			margin-top:.4rem;
			display: inline-block;
		}
		p{
			width:4.8rem;
			height:1rem;
			font-size: .3rem;
			color:#818E9F;
      margin-top:.4rem;
			margin-left:.3rem;
      display: inline-block;
		}
		.zuanti{
			float: left;
			left:0;
			background:red;
			color:#fff;
			margin-left:1.8rem;
		  margin-bottom:.1rem;
      position: absolute;
			bottom:0;
		}
		.liulan{
			float: right;
			position: absolute;
			right:0;
			bottom:0;
			margin-right:.3rem;
			margin-bottom:.1rem;
		  display: inline-block;
			color:#848E98;
			&::after{
				content: "\e61b";
				font-size: 26px;
			}
		}
	}
}

// 底部开始
.footer{
	width:100%;
	height:.95rem;
	background: #fff;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	border-top:1px solid #ededed;
	display: block;
  li{
		float: left;
    width:.8rem;
		height:.5rem;
	}
	.news{
		margin-left:.45rem;
		span{
			position: absolute;
			bottom:0;
		}
   &::after{
         font-size: 20px;
		 		 content: "\e664";
         margin-left:.07rem;
	 }
	}
	.hotif{
		margin-left:1rem;
		span{
			position: absolute;
			bottom:0;
		}
    &::after{
			font-size: 20px;
			content: "\e640";
			margin-left:.07rem;
		}
	}
	.listen{
		margin-left:1rem;
		span{
			position: absolute;
			bottom:0;
		}
		&::after{
			 content: "\e659";
			 font-size: 20px;
			 margin-left:.07rem;
		}
	}
	.wo{
		float: right;
		// margin-right:.45rem;
		span{
			position: absolute;
			bottom:0;
		}
		&::after{
			position: absolute;
			top:0;
			font-size: 20px;
			content: "\e60f";
		}
	}
	span{
		font-size: .15rem;
		color:#000;

	}
}
//设置开始
.login{
	width:100%;
	height:3.4rem;
	background:#F54343;
	position: fixed;
	top:0;
	float: left;
	left:0;
  overflow: hidden;
	z-index: 333;
	.circle{
		width:1.4rem;
		height:1.4rem;
		display: block;
		text-align: center;
		margin:1rem 3rem;
		background:#fff;
		position: absolute;
    &::before{
			content: "\e60f";
			display: inline-block;
      text-align: center;
			line-height: 1.4rem;
			font-size: .7rem;
			color:#B0B0B0;
		}
	}
	.liji{
		color:#fff;
		font-weight: 800;
    font-size: .3rem;
		display: inline-block;
		text-align: center;
    position: absolute;
    margin-left:3rem;
		margin-top:2.4rem;
 }
	.gold{
		color:#fff;
		font-weight:400;
    font-size: .2rem;
		position: absolute;
    margin-left:3rem;
		margin-top:2.6rem;
	}
}
.shoucang{
	width:100%;
	height:1rem;
	float: left;
	position: absolute;
  top:3.4rem;
  left:0;
	border-bottom:3px solid #E9E9E9;
	span{
  width:33.33%;
	float: left;
	height:1rem;
	text-align: center;
	line-height: 1rem;
	border-right:1px solid #E2E2E2;
	}
}
.shezhi-main{
	width:100%;
	height:7.7rem;
	position: absolute;
	bottom:0;
	float: left;
	left:0;
}
%shezhi{
	border-bottom:1px solid #ECECEC;
	font-size: .26rem;
	color:#000;
	height:1rem;
	margin-left:.8rem;
	line-height: 1rem;;
	font-weight: 500;
	&::after{

	}
	img{
		width:.3rem;
		height:.3rem;
		margin-left:-.5rem;
	}
}
.shangcheng{
  @extend %shezhi;

}
.lixian{
	@extend %shezhi;
}
.yejian{
  @extend %shezhi;
}
.fankui{
	@extend %shezhi;
}
.shezhi-s{
	@extend %shezhi;
}
.you{
	float: right;
	margin-right:.3rem;
	color:#ADADAD;
	line-height: 1rem;
}
// 推荐开始
.tuijian{
	background: #E9E9E9;
	width:100%;
	height:10.5rem;
	overflow: auto;
}
.tuijian-title{
	width:100%;
	height:1rem;
	position: fixed;
  background:#fff;
	top:0;
	float: left;
	left:0;
	z-index: 333;
	.audio{
		text-align: center;
		line-height: 1rem;
		color:#898D94;
    font-size: 0.3rem;
		margin:0 auto;
		display: 	inline-block;
		margin-left:2.35rem;
		&:hover{
			color:red;
			border-bottom:2px solid red;
		}
	}
	.video{
		text-align: center;
		line-height: 1rem;
		color:#898D94;
    font-size: 0.3rem;
		margin:0 auto;
		display: 	inline-block;
		margin-left:.5rem;

		&:hover{
			color:red;
			border-bottom:2px solid red;
		}
	}
}
.tuijian-video{
	width:100%;
	height:4.04rem;
	img{
		margin-top:2px ;
		width:inherit;
		height:inherit;
	}
}

.tuijian-share{
	width:100%;
	height:1rem;
	background:#fff;
	display: block;
	border-bottom:3px solid #E9E9E9;
	.tui-share{
		float: left;
		margin-left:.3rem;
		display: inline-block;
		width:.3rem;
		height:.2rem;
		margin-top:.2rem;
	}
	.tui-liu{
		float: right;
    width:.44rem;
    height:.44rem;
		margin-right:.3rem;
	}
	.tui-weibo{
		float: right;
		margin-right:.3rem;
		width:.44rem;
		height:.44rem;
	}
}
#canvas{
	background: #fff;
}
//频道
.channel{
	width:100%;
	height:100%;
	margin:0;
  background:#EFEFEF;
	z-index: 3333;
	position: fixed;
	top:0;
		li{
			width:100%;
			height:.7rem;
			margin:.3rem;
			span{
				width:1.53rem;
				height:.68rem;
				float: left;
				display: inline-block;
				border-radius: 15px;
				font-size: 16px;
				color:#000;
				background:#fff;
				text-align: center;
				line-height: .7rem;
				margin-left:.01rem;
        border:2px solid #DADADA;
				&:hover{
					color:red;
				}
			}
		}
}
.enter{
	float: left;
	margin-left:.3rem;
  font-size:.3rem;
  color:#000;
	margin-top:.5rem;
	display: inline-block;
}
.edit{
	float: right;
	margin-right:.6rem;
	font-size: .3rem;
	color:#8C8F94;
	display: inline-block;
	margin-top:.5rem;
	color:red;
}
.more-channel{
	width:100%;
	height:.65rem;
	float: left;
	left:0;
	position: absolute;
	border-top:1px solid #D6D3D3;
	border-bottom:1px solid #D6D3D3;
  background:#E9E9E9;
	margin:none;
	line-height: .65rem;
	p{
		width:1.3rem;
		height:.3rem;
		position: absolute;
		bottom:.03rem;
		left:.3rem;
	}
}
.channel-top{
    margin-left:2.6rem;

}
.ifhot{
	width:100%;
	height:92%;
	position: absolute;
	top:0;
	left:0;
	background:#fff;
	z-index: 44444;
	display: block;
	.hot-title{
		width:100%;
		height:.9rem;;
		border-bottom:1px solid #D5D5D5;
		.like{
			margin-left:1.65rem;
			line-height: 100%;
		  margin-top:.3rem;
      font-size: .37rem;
			float: left;
			display: inline-block;
			font-weight: 600;
			&:hover{
				color:red;
				bottom:2px solid red;
			}
		}
		.read{
			margin-left:.6rem;
			font-size: .37rem;
			float: left;
			line-height: 100%;
			margin-top:.3rem;
			color:#6F7581;
			font-weight: 600;
			&:hover{
				color:red;
				bottom:2px solid red;
			}
		}
	}
}
.hot-box{
	width:100%;
	height:10.5rem;
	overflow: auto;
	background:#fff;
}
.hot-li{
	width:100%;
	height:2rem;
	float: left;
	position: relative;
	border-bottom:5px solid #E9E9E9;
	img{
		float: left;
		margin-left:.3rem;
		margin-top:.3rem;
		width:2.31rem;
    height:1.63rem;
	}
	.ng-binding{
		margin-left:.35rem;
		color:#093E66;
		margin-top:.35rem;
    display: inline-block;
	}
	.hot-name{
		margin-left:.3rem;
		display: inline-block;
		position: absolute;
		left:0;
		bottom:.3rem;
		float: left;
		margin-left:2.9rem;
	}
	.hot-liulan{
		position: absolute;
		float:rihgt;
		right:0;
		margin-right:.6rem;
		bottom:.3rem;
		color:#08426A;
    &::after{
			content: "\e61b";
		}
	}
}
.hot-caini{
	width:100%;
	position: absolute;
	top:0.9rem;
	display: none;
	z-index: 44445;
	img{
		width:inherit;
		height:10.5rem;;
    display:block;
	}
}
//  今日 滑动
.today.show-delete{
	transform:translateX(-100%);
}
.today{
	transition: all .8s ease ;
}
.hua{
	transform: translateX(100%);
}

// 今日
.today{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	right:0;
  bottom:0;
	z-index: 111111111;
	background:#fff;
  display: none;
	.world{
		width:100%;
		height:2.05rem;

	}
	.back{
		width:.5rem;
		height:0.5rem;
		position: absolute;
		top:.3rem;
		left:.3rem;
		float: left;
	}
	.today-ban{
		position: relative;
		img{
			width:100%;
			height:4.05rem;
		}
    span{
			color:#fff;
			font-size: 16px;
			margin-left:.3rem;
			position: absolute;
      bottom:.3rem;
		}
	}
}
// 引导页
.yingdao{
    img{
			width:100%;
			height:100%;
			z-index: 11;
			position: absolute;
			top:0;
			left:0;
			bottom:0;
			right:0;
		}
}
#yingdao .enter, #yingdao h1{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}

#yingdao.ng-leave{
	transition: all .8s ease;
	opacity: 1;
	transform: scale(1,1);
}
#yingdao.ng-leave-active{
	opacity: 0;
	transform: scale(0,0);
}

@keyframes tiao{
	0%{
		transform: translateY(-500px);
	}
	100%{
		transform: none;
	}
}
#yingdao .swiper-slide-active h1{
	animation: tiao 3s ease both;
}
#yingdao .enter{
	position: absolute;
}
#yingdao h1{
	transform: translateY(-500px);
	width:260px;
	height:100px;
	background: red;
	color:#fff;
	z-index: 44;

}
#yingdao .swiper-container{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
}
#yingdao .swiper-slide img{
	width:100%;
}
// 内页开始
.second{
	width:100%;
	height:100%;
	background: #fff;
  position: absolute;
	top:0;
	z-index: 5555;
	display: block;
  .second-title{
		width:6rem;
		height:2rem;
    margin-top:.3rem;
		margin-left:.3rem;
		float: left;
		p{
			font-size: .5rem;
			color:#000;
			float: left;
			font-weight: 800;
      display: block;
			margin:0;
		}
		.second-time{
			float: left;
			color:#6B6B6B;
			font-size: .15rem;
			display: block;
		}
		.second-mintitle{
			float: left;
			font-size: .15rem;
			color:#6B6B6B;
      display: block;
		}
		.second-image{
			width:auto;
			height:5.37rem;
		}
		.second-main{
			width:100%;
			height:6.5rem;
			overflow: auto;
			font-size: 20px;
		}
	}

}
