<!--推荐  -->
<div class="tuijian" id="audu">
    <ul>
         <li class="tuijian-title">
             <span class="audio">音频</span>
             <span class="video">视频</span>
         </li>
         <li class="tuijian-video">
           <img src="./images/2.jpg" alt="" />
          <!-- <span class="tuijian-yuan">
          </span> -->
          <span class="tuijian-share">
             <img src="./images/share.jpg" alt=""  class="tui-share"/>
             <img src="./images/tuijian-liuyan.jpg" alt="" class="tui-liu"/>
             <img src="./images/tuijian1.jpg" alt="" class="tui-weibo" />
          </span>
         </li>
         <li class="tuijian-video">
           <img src="./images/tui4.jpg" alt="" />
          <span class="tuijian-yuan">
          </span>
          <span class="tuijian-share">
             <img src="./images/share.jpg" alt=""  class="tui-share"/>
             <img src="./images/tuijian-liuyan.jpg" alt="" class="tui-liu"/>
             <img src="./images/tuijian1.jpg" alt="" class="tui-weibo" />
          </span>
         </li>
         <li class="tuijian-video">
           <img src="./images/tui3.jpg" alt="" />
          <span class="tuijian-yuan">
          </span>
          <span class="tuijian-share">
             <img src="./images/share.jpg" alt=""  class="tui-share"/>
             <img src="./images/tuijian-liuyan.jpg" alt="" class="tui-liu"/>
             <img src="./images/tuijian1.jpg" alt="" class="tui-weibo" />
          </span>
         </li>
         <li class="tuijian-video">
           <img src="./images/tui2.jpg" alt="" />
          <span class="tuijian-yuan">
          </span>
          <span class="tuijian-share">
             <img src="./images/share.jpg" alt=""  class="tui-share"/>
             <img src="./images/tuijian-liuyan.jpg" alt="" class="tui-liu"/>
             <img src="./images/tuijian1.jpg" alt="" class="tui-weibo" />
          </span>
         </li>
         <li class="tuijian-video">
           <img src="./images/tui1.jpg" alt="" />
          <span class="tuijian-yuan">
          </span>
          <span class="tuijian-share">
             <img src="./images/share.jpg" alt=""  class="tui-share"/>
             <img src="./images/tuijian-liuyan.jpg" alt="" class="tui-liu"/>
             <img src="./images/tuijian1.jpg" alt="" class="tui-weibo" />
          </span>
         </li>
    </ul>
</div>
