<!-- 设置开始 -->
<div class="shezhi" id="shezhi">
    <ul>
      <li class="login">
          <span class="circle"></span>
          <span class="liji">立即登录</span><br>
          <span class="gold">赚金币兑好礼</span>
      </li>
      <li class="col s3 shoucang">
       <span class="col s3 ">评论</span>
       <span class="col s3">消息</span>
       <span class="col s3">收藏</span>
      </li>
      <li class="shezhi-main">
           <div class="shangcheng">
             <img src="./images/shezhi1.jpg" alt="" />
                 商城
             <span class="you">></span>
           </div>
           <div class="lixian">
             <img src="./images/shezhi2.jpg" alt="" />
                 离线
            <span class="you">></span>
           </div>
           <div class="yejian">
             <img src="./images/shezhi3.jpg" alt="" />

                 夜间
                 <span class="you">></span>

           </div>
           <div class="fankui">
             <img src="./images/shezhi4.jpg" alt="" />
                 反馈
                 <span class="you">></span>

           </div>
           <div class="shezhi-s">
             <img src="./images/shezhi5.jpg" alt="" />
                 设置
                 <span class="you">></span>

           </div>
      </li>
    </ul>
</div>
