<!--今日看世界 -->
<div class="today">
    <ul>
       <li><img src="./images/world.jpg" alt="" class="world"/></li>
       <li class="today-ban">
         <img src="./images/bali.jpg" alt="" />
         <span>南海永暑礁医院将开业 重大手术可远程指挥</span>
       </li>
       <li class="hot-li">
           <img src="./images/hot1.jpg" alt="" />
           <p>
             毛泽东称哪次军事行动是他<br>一生"得意之笔"
           </p>
            <span class="hot-name">毛泽东</span>
            <span class="hot-liulan">27</span>
       </li>

    </ul>
</div>
