<!-- <div class="yingdao" id="yingdao" >
   <img src="./images/yingdao.jpg" alt="" />
</div> -->

<div id="yingdao" class="yingdao" ng-controller="yingdaoCtrl">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
			  <img src="./images/yingdao.jpg">
			</div>
			<div class="swiper-slide">
			  <img src="./images/yingdao.jpg">
			  <a ng-click="enter()" class="btn enter"></a>
			</div>
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>
	</div>
</div>
